MYSQL_ROOT_PASSWORD=change_me_root
MYSQL_DATABASE=enterprise_ai
MYSQL_USER=enterprise_app
MYSQL_PASSWORD=change_me_app
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
DB_POOL_SIZE=5
DB_MAX_OVERFLOW=10
DB_POOL_RECYCLE=1800
APP_VERSION=0.2.0
API_PORT=8000
